# Ignore everything
*

# But not these files...
!.gitignore
!*.vala
!*.c
!CMakeLists.txt

# ...even if they are in subdirectories
!*/

# if the files to be tracked are in subdirectories
#!*/a/b/file1.txt
#!*/a/b/c/*
/linux/build/CMakeFiles/3.22.1/CompilerIdC/CMakeCCompilerId.c
/windows/CMakeFiles/3.28.0-msvc1/CompilerIdC/CMakeCCompilerId.c
